<mdl-layout-header-row>
    <mdl-layout-title>{{sequence.title}}</mdl-layout-title>
    <mdl-layout-spacer></mdl-layout-spacer>
    <nav class="mdl-navigation">
        <a class="mdl-navigation__link">
            <button mdl-button mdl-button-type="icon" (click)="showPlayerSettingsDialog()">
                <mdl-icon>settings</mdl-icon>
            </button>
        </a>
        <a class="mdl-navigation__link">
            <button mdl-button mdl-button-type="icon" (click)="showSequenceSettingsDialog()">
                <mdl-icon>mode_edit</mdl-icon>
            </button>
        </a>
    </nav>
    <button mdl-button #btn1="mdlButton" (click)="m1.toggle($event, btn1)" mdl-button-type="icon" mdl-ripple>
        <mdl-icon>more_vert</mdl-icon>
    </button>
    <mdl-menu #m1="mdlMenu" mdl-menu-position="bottom-right">
       <mdl-menu-item mdl-ripple (click)="newSequence()">New Sequence</mdl-menu-item>
       <mdl-menu-item mdl-ripple (click)="showOpenSequenceDialog()">Open Sequence</mdl-menu-item>
       <mdl-menu-item mdl-ripple (click)="showDeleteSequenceDialog()">Delete Sequence</mdl-menu-item>
       <mdl-menu-item mdl-ripple mdl-menu-item-full-bleed-divider (click)="saveSequence()">Save Sequence</mdl-menu-item>
       <mdl-menu-item>Exit</mdl-menu-item>
    </mdl-menu>
</mdl-layout-header-row>