<div class="mdl-grid">
	<div 	class="mdl-cell mdl-cell--3-col" 
			*ngFor="let bar of sequence.bars; let i = index" 
			[attr.data-index]="i">
		<mdl-textfield 	label="Chord" 
						(blur)="updateSequence(bar, i)"
						pattern="[A-G-a-g][m|7|b|#|-]{0,3}"
						[(ngModel)]="bar.chords[0].symbol"
						error-msg="Invalid Chord!"
						required
						floating-label>
		</mdl-textfield>
	</div>
	<div *ngIf="sequence.bars.length === 0">
		<h4>Missing Bars</h4>
		<h6>Please add bars, open a sequence or start with a new one!</h6>
	</div>
</div>
<div class="mdl-grid footer--fab-container">
	<div class="mdl-cell--10-offset mdl-cell--bottom">
		<mdl-button *ngIf="playIcon" mdl-button-type="fab" mdl-ripple (click)="playCurrentSequence()">
			<mdl-icon>play_arrow</mdl-icon>
		</mdl-button>
		<mdl-button *ngIf="!playIcon" mdl-button-type="fab" mdl-ripple (click)="stopCurrentSequence()">
			<mdl-icon>stop</mdl-icon>
		</mdl-button>
	</div>
</div>
