<overlay [loading]="!ready"></overlay>
<mdl-layout mdl-layout-fixed-header mdl-layout-header-seamed>
    <mdl-layout-header>
        <sequence-header [sequence]="sequence"></sequence-header>
    </mdl-layout-header>
    <mdl-layout-content class="demo-content">
        <chord-sheet [sequence]="sequence"></chord-sheet>
    </mdl-layout-content>
</mdl-layout>
