<div>
	<h4 class="mdl-dialog__title">Delete sequence</h4>
	<div class="mdl-dialog__content">
		<mdl-list>
			<mdl-list-item lines="2" mdl-ripple *ngFor="let sequence of sequencesArray">
				<mdl-list-item-primary-content>
					<mdl-icon mdl-list-item-avatar>music_note</mdl-icon>
					<span>{{sequence.title}}</span>
					<mdl-list-item-sub-title>{{sequence.date | date:short}}</mdl-list-item-sub-title>
				</mdl-list-item-primary-content>
				<mdl-list-item-secondary-action>
					<mdl-radio name="sequence" value="{{sequence.title}}" [(ngModel)]="chosen" mdl-ripple></mdl-radio>
				</mdl-list-item-secondary-action>
			</mdl-list-item>
		</mdl-list>
	</div>
	<div class="mdl-dialog__actions">
		<button mdl-button mdl-button-type="raised" (click)="deleteSequence()" mdl-colored="primary" mdl-ripple>Delete</button>
		<button mdl-button (click)="close()" mdl-button-type="raised" mdl-ripple>Cancel</button>
	</div>
</div>