<div>
	<h4 class="mdl-dialog__title">Player Settings</h4>
	<div class="mdl-dialog__content">
		<label>Volume:</label>
		<mdl-slider min="1" max="127" step="1" [(ngModel)]="player.options.volume"></mdl-slider>
		<mdl-textfield label="BPM" floating-label type="number" [(ngModel)]="player.options.bpm"></mdl-textfield>
		<mdl-textfield label="Repeat" floating-label type="number" [(ngModel)]="player.options.loops"></mdl-textfield>
		<mdl-switch [(ngModel)]="player.options.enableMetronome" mdl-ripple>Enable Metronome</mdl-switch>
	</div>
	<div class="mdl-dialog__actions">
		<button mdl-button (click)="close()" mdl-button-type="raised" mdl-colored="primary" mdl-ripple>Save</button>
	</div>
</div>