<div>
	<h4 class="mdl-dialog__title">Sequence Settings</h4>
	<div class="mdl-dialog__content">
		<mdl-textfield label="Title" floating-label type="text" [(ngModel)]="currentSequence.title"></mdl-textfield>
		<mdl-textfield label="Number of bars" floating-label type="number" [(ngModel)]="length"></mdl-textfield>
		<label>Signature</label>
		<mdl-textfield type="number" [(ngModel)]="currentSequence.signature[0]"></mdl-textfield>
		<mdl-textfield disabled type="number" [value]="currentSequence.signature[1]"></mdl-textfield>
	</div>
	<div class="mdl-dialog__actions">
		<button mdl-button (click)="save()" mdl-button-type="raised" mdl-colored="primary" mdl-ripple>Save</button>
		<button mdl-button (click)="close()" mdl-button-type="raised" mdl-ripple>Cancel</button>
	</div>
</div>