div.overlay {
	position: absolute;
	width:100%;
	height: 100%;
}

div.overlay > div.overlay--backdrop{
	width:100%;
	height: 100%;
	opacity: 0.5;
	background: black;
	z-index: 99998;
	position: absolute
}

div.overlay > div.overlay--container{
	position: relative;
    width: 100%;
    text-align: center;
    top: 50%;
   	transition: translateY(-50%);
    z-index: 99999;
}

div.overlay > div.overlay--container > h5 {
	color: white;
}